.education{

min-height:100vh;

padding:120px 10%;

background:#050816;

color:white;

}

.education-title{

text-align:center;

margin-bottom:80px;

}

.education-title p{

letter-spacing:5px;

color:#4da6ff;

}

.education-title h1{

font-size:70px;

margin-top:20px;

}

.education-title span{

color:#4da6ff;

}

.timeline{

display:flex;

flex-direction:column;

gap:40px;

position:relative;

}

.timeline::before{

content:"";

position:absolute;

left:50%;

top:0;

width:4px;

height:100%;

background:#4da6ff;

}

.edu-card{

width:46%;

padding:35px;

background:
rgba(255,255,255,.06);

backdrop-filter:
blur(20px);

border-radius:25px;

transition:.4s;

}

.edu-card:hover{

transform:
translateY(-12px);

box-shadow:
0 0 50px
rgba(77,166,255,.25);

}

.edu-card:nth-child(odd){

margin-right:auto;

}

.edu-card:nth-child(even){

margin-left:auto;

}

.year{

color:#4da6ff;

font-size:14px;

}

.edu-card h2{

margin-top:12px;

}

.edu-card h4{

margin-top:15px;

color:#d1d5db;

}

.edu-card p{

margin-top:20px;

line-height:1.8;

color:#9ca3af;

}
