.experience{

min-height:100vh;

background:#050816;

padding:120px 10%;

color:white;

}

.exp-title{

text-align:center;

margin-bottom:80px;

}

.exp-title p{

letter-spacing:5px;

color:#4da6ff;

}

.exp-title h1{

font-size:70px;

}

.exp-title span{

color:#4da6ff;

}

.exp-container{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:30px;

}

.exp-card{

padding:40px;

background:
rgba(255,255,255,.06);

border-radius:25px;

backdrop-filter:
blur(20px);

transition:.5s;

}

.exp-card:hover{

transform:
translateY(-15px);

box-shadow:
0 0 60px
rgba(77,166,255,.25);

}

.icon{

font-size:50px;

margin-bottom:20px;

}

.exp-card h2{

font-size:32px;

}

.exp-card h4{

margin-top:15px;

color:#4da6ff;

}

.exp-card p{

margin-top:25px;

line-height:1.9;

color:#b4b4b4;

}
@media (max-width:768px){

.about,
.education,
.experience,
.projects{

padding:100px 25px;

}

.cards,
.resume-grid,
.project-grid,
.exp-container{

grid-template-columns:1fr;

display:grid;

}

.about{

flex-direction:column;

}

.about-left,
.about-right{

width:100%;

}

}