*{
margin:0;
padding:0;
box-sizing:border-box;
}

.hero{
height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 10%;

background:
linear-gradient(
135deg,
#030712,
#07152b,
#0a1935
);

overflow:hidden;

color:white;
}

.hero-left{
width:55%;

animation:
slideLeft
1.5s ease;
}

.tag{
color:#4da6ff;

letter-spacing:4px;

margin-bottom:20px;
}

.hero-left h1{
font-size:95px;

line-height:1;
}

.hero-left span{
color:#4da6ff;

animation:
glow
2s infinite;
}

.hero-left h2{
margin-top:20px;

font-size:40px;

color:#dbeafe;
}

.desc{
margin-top:30px;

font-size:20px;

line-height:1.8;

color:#9ca3af;

max-width:650px;
}

.buttons{
display:flex;

gap:20px;

margin-top:45px;
}

button{
padding:16px 38px;

border:none;

border-radius:15px;

font-size:18px;

cursor:pointer;

transition:.4s;
}

.primary{
background:#4da6ff;

color:white;
}

.primary:hover{
transform:
translateY(-8px);

box-shadow:
0 0 40px
#4da6ff;
}

.secondary{
background:transparent;

border:2px solid #4da6ff;

color:white;
}

.secondary:hover{
transform:
scale(1.08);
}

.hero-right{
position:relative;

width:45%;

height:100%;

display:flex;

justify-content:center;

align-items:center;
}

.circle{
width:420px;

height:420px;

border-radius:50%;

background:
radial-gradient(
circle,
#4da6ff,
transparent
);

filter:blur(30px);

animation:
float
6s infinite;
}

.small{
position:absolute;

width:220px;

height:220px;

background:
radial-gradient(
circle,
#2563eb,
transparent
);

animation:
float2
5s infinite;
}

.card{
position:absolute;

width:320px;

height:220px;

background:
rgba(255,255,255,.08);

backdrop-filter:
blur(18px);

border-radius:25px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

animation:
rotateCard
8s infinite;
}

.card h3{
font-size:45px;

color:#4da6ff;
}

.card p{
margin-top:15px;

font-size:20px;
}

@keyframes float{

0%{
transform:
translateY(0);
}

50%{
transform:
translateY(-40px);
}

100%{
transform:
translateY(0);
}

}

@keyframes float2{

0%{
transform:
translateX(0);
}

50%{
transform:
translateX(50px);
}

100%{
transform:
translateX(0);
}

}

@keyframes rotateCard{

0%{
transform:
rotate(-4deg);
}

50%{
transform:
rotate(4deg);
}

100%{
transform:
rotate(-4deg);
}

}

@keyframes glow{

50%{
text-shadow:
0 0 40px
#4da6ff;
}

}

@keyframes slideLeft{

from{
opacity:0;

transform:
translateX(-150px);
}

to{
opacity:1;

transform:
translateX(0);
}

}
@media (max-width:768px){

.hero{

flex-direction:column;

padding:120px 25px;

text-align:center;

}

.hero-left{

width:100%;

}

.hero-left h1{

font-size:52px;

}

.hero-left h2{

font-size:28px;

}

.desc{

font-size:16px;

}

.hero-right{

width:100%;

margin-top:40px;

}

.circle{

width:260px;

height:260px;

}

.small{

width:150px;

height:150px;

}

.card{

width:240px;

height:170px;

}

.buttons{

flex-direction:column;

}

button{

width:100%;

}

}